@page "/EmailSent"
@rendermode InteractiveServer

<h3>EmailSent</h3>

<MudAlert Severity="Severity.Info" Variant="Variant.Filled">
    Wysłano mail na podany adres. Znajdziesz w nim link do
    aktywacji konta (ps. nie wysłano :D)
</MudAlert>
<MudButton>Wyslij wiadomosc jeszcze raz</MudButton>
